

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
.Btn-group{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.counter{
  font-size: 15px;
   padding-left: 10px;
   padding-right: 10px;
}
.Loader{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}